@using AirlineManager.Models.Domain
@using Microsoft.AspNetCore.Identity
@using AirlineManager.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var appUser = await UserManager.GetUserAsync(User);
        var displayName = appUser != null ? $"{appUser.FirstName} {appUser.LastName}" : User.Identity?.Name;

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @displayName
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Profile">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="form-inline">
                        <button type="submit" class="dropdown-item text-dark">Logout</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Public" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Public" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>