@model AirlineManager.Models.ViewModel.ChangePasswordViewModel

@{
	ViewData["Title"] = "Change Password";
}

<h1>Change Password</h1>

<form asp-action="ChangePassword" method="post" class="edit-form">
	<div class="mb-3">
		<label asp-for="NewPassword" class="form-label"></label>
		<input asp-for="NewPassword" class="form-control" />
		<span asp-validation-for="NewPassword" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="ConfirmPassword" class="form-label"></label>
		<input asp-for="ConfirmPassword" class="form-control" />
		<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary">Change password</button>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
